{% extends "base.html" %}
{% block body %}


<div class="row">
    <div class="span10 offset1">


   <p class = "text-left"><h4>What is www.parks_ing.com?</h4>
   <a href = 'www.parks-ing.com'>www.parks-ing.com</a> is a website to digest all of the reviews and present it on one page.</p>
   
 <br>
 </div>
</div>


<div class="row">
    <div class="span10 offset1">
  
   <p class = "text-left"><h4> Why did I have this idea?</h4>
   <p class = "text-left">It is due to my trip to YellowStone National Park in May of 2014. It is time consuming to read all of reviews online.  
   For example, there are hundreds of reviews about every of 84 attractions in YellowStone Naitonal Park on <a href = 'http://www.tripadvisor.com/Tourism-g60999-Yellowstone_National_Park_Wyoming-Vacations.html'>TripAdvisor.com</a>. 
   So I want to build an app to present people's opinions of something with only one page. </p>
     
 <br>
 </div>
</div>


<div class="row">
    <div class="span10 offset1">   
   
   <p class = "text-left"><h4> How? The process of building this.</h4>
    <p class = "text-left">There are four steps to build this website. The main techniques and tools are listed as below:
   <ol>
      <li>Scraping www.tripadvisor.com: <a href = 'http://www.crummy.com/software/BeautifulSoup/bs4/doc/'>BeautifulSoup</a> </li>
      <li>Storing data into mysql: <a href = 'http://mysql-python.sourceforge.net/MySQLdb.html'>MySQLdb</a> </li>
      <li>Building machine learning models:<a href = 'http://www.nltk.org/_modules/nltk/classify/naivebayes.html'>Naive Bayes</a>, <a href = 'https://pypi.python.org/pypi/pytagcloud'>Tag Clouds</a> </li>
      <li>Designing and deploying website: <a href = 'http://getbootstrap.com/'>bootstrap</a>, <a href = 'http://flask.pocoo.org/'>Flask</a>, <a href = 'http://aws.amazon.com/'>AWS </a>. </li>
</p>
 
 </div>
</div>

<div class="row">
    <div class="span10 offset1">     

  
   <p class = "text-left"><h4> </h4>
   <a href = 'www.google.com'>Google.com</a> and <a href = 'http://stackoverflow.com/'>stackoverflow.com</a> are my teachers. 
   <a href = 'http://www.w3schools.com/'>w3schools.com</a> helped me a lot too, especially the front end knowledge.
   </p>
  



 <br>
</div>
</div>

<div class="row">
    <div class="span10 offset1">
 

   <p class = "text-left"><h4>Future work</h4>
    There are a lot to be done. For example,  
   <ul>
   <li>Adding all other national parks in the U.S. to the website. The 1st pg would be search engine and posters of national parks.</li>
   <li>Adding reviews from other websites </li>
   <li>Adding map to show locations</li>
   <li>Adding search engine of reviews</li>
   <li>Clusters of reviews</li>
   <li>Cool visualization of reviews</li>
   <li>Adding feature: generate trip plan. Digesting reviews quickly is to make trip plans easily.</li> 
   <li>... </li></p>
      
 <br>
</div>
</div>
<div class="row">
    <div class="span10 offset1">

 <p class = "text-left"><h4>Contact</h4>
 The source code for this website is hosted on <a href="https://github.com/qingqingqing/Instance/tree/master/Desktop/parks4.git">github</a>.
 You can contact me by <a href="mailto:qingchen08@gmail.com">email</a>. </p> 

  <br>
</div>
</div>



{% endblock %}
